@using Lumos.Data.Enums;
@{
    Layout = null;
}

@model Lumos.Application.Dtos.Management.UnitsDto

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />


<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <p style="font-size: 1.1em!important;margin: 0; font-weight: bold;">Editar Unidade</p>
</div>
<div class="modal-body">
    <form id="editUnit" style="margin: auto!important">
        <input type="hidden" name="TenantId" value="@Model.TenantId" />
        <input type="hidden" name="Id" id="UnitId" value="@Model.Id" />

        <div class="row">
            <div class="form-group col-md-4">
                <label for="Name" class="input-label">Nome<span class="input-label-required"></span></label>
                <input type="text" class="form-control" name="Name" id="Name" placeholder="" value="@Model.Name">
            </div>

            <div class="form-group col-md-5">
                <label for="CpfCnpj" class="input-label">CNPJ<span class="input-label-required"></span></label>
                <input type="text" class="form-control" name="CpfCnpj" id="CpfCnpj" placeholder="" value="@Model.CpfCnpj">
            </div>

            <div class="form-group col-md-3">
                <label for="Level" class="input-label">Nível de Acesso <span class="input-label-required"></span></label>
                <input type="text" class="form-control" name="Level" value="@Model.Level" disabled />
            </div>
        </div>
        <hr style="margin: 10px 0!important" />

        <div class="row">
            <div class="col-md-12" style="display: flex; justify-content: flex-end; gap: 20px;">
                <button class="btn btn-success save float-right" type="submit" id="submitButton">Atualizar Cadastro</button>
            </div>
        </div>
    </form>
</div>

<script>
    $("#editUnit").on('submit', function (e) {
        e.preventDefault();

        var id = $('#UnitId').val();
        var formData = new FormData($('#editUnit')[0]);
        formData.set('Level', 'Filial');
        var url = `/Units/Update/${id}`;

        AjaxUpdateDefault("#submitButton", url, formData, "#UnitEditModal");
    })
</script>