@using Lumos.Data.Enums;
@{
    ViewData["Title"] = "Criar Unidade";
}

@model Lumos.Application.Dtos.Management.UnitsDto

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />

<div class="row">
    <div class="col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="@Url.Action("Index", "Units")">Unidades</a>
                </li>
                <li class="breadcrumb-item active">
                    <a href="@Url.Action("Create", "Units")">Adicionar</a>
                </li>
            </ol>
        </nav>
    </div>
</div>

@if (@ViewBag.TenantId == null)
{
    @Html.Partial("~/Views/Modals/_GetAllTenantsModals.cshtml")
}

<div class="container-fluid">
    <form id="registerUnit">
        <input type="hidden" id="sessionTenantId" name="TenantId" value="@ViewBag.TenantId" />

        <p class="section-identification">Cadastro de Unidade</p>

        <div class="row" style="padding: 0 15px;">
            <div class="form-group col-md-5">
                <label for="Name" class="input-label">Nome<span class="input-label-required"></span></label>
                <input type="text" class="form-control" name="Name" id="Name" placeholder="">
            </div>

            <div class="form-group col-md-5">
                <label for="CpfCnpj" class="input-label">CNPJ<span class="input-label-required"></span></label>
                <input type="text" class="form-control" name="CpfCnpj" id="CpfCnpj" placeholder="">
            </div>

            <div class="form-group col-md-2">
                <label for="Level" class="input-label">Nível de Acesso <span class="input-label-required"></span></label>
                <select class="form-control" id="Level" name="Level">
                    @foreach (var levelOrg in Enum.GetValues(typeof(ELevelOrganization)).Cast<ELevelOrganization>())
                    {
                        <option value="@(@levelOrg.GetDisplayNameLevel())">@levelOrg.GetDisplayNameLevel()</option>
                    }
                </select>
            </div>
        </div>
        <hr />

        <div class="row" style="padding: 0 15px;">
            <div class="col-md-12" style="display: flex; justify-content: flex-end; gap: 20px;">
                <button class="btn btn-success save float-right" type="submit">Finalizar Cadastro</button>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-masker/1.2.0/vanilla-masker.min.js"></script>

    <script src="~/js/Units/Create.js"></script>
}